.first-back {
    background-color: #FAFAF2;
}

.front {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 25%;
}

.title-common {
    margin-bottom: 40px;
}

.loading-image {
    width: 30%;
}

.spinned {
    animation: spin 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
          transform: rotate(360deg);
      }
}

@keyframes scale1 {
    from {
        transform: scaleX(1) scaleY(1);
    }
    to {
        transform: scaleX(1.3) scaleY(1.3);
    }
}

