.restaurants-list-page {
    background-color: #FAFAF2;
}

.input-group.md-form.form-sm.form-2 input.lime-border {
    border: 1px solid #cddc39;
}

.checked {
    color: orange;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.glyphicon-plus {
    padding: 0 5px;
    font-size: 1.5rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    display: block;
    width: min-content;
}

.restaurant-list-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}